/* ==========================================================================
   App Stylesheet
   app.scss
   ========================================================================== */


/* Vendor Styles and Setting (foundation > settings)
   ======================================================================== */
@import "foundation";
@import "settings";


/* Mixins (User defined mixins)
   ======================================================================== */


/* Components
   ======================================================================== */
@import "components/base";

body.fission {
	#results {
		li { 
			text-align: center; 
			padding: 0.65rem;
		}

		li:nth-child(1) { text-align: right; }

		ul:nth-child(odd) {
			background-color:#eee;
		}
		ul:nth-child(even) {
			background-color:#fff;
		}

		ul.small-block-grid-2 li:nth-child(2) {
			text-align: left;
		}
		ul.small-block-grid-3 li:nth-child(3) {
			text-align: left;
		}
	}
}