/* ==========================================================================
   App Stylesheet
   app.scss
   ========================================================================== */


/* Vendor Styles and Setting (foundation > settings)
   ======================================================================== */
@import "foundation";
@import "settings";


/* Mixins (User defined mixins)
   ======================================================================== */


/* Components
   ======================================================================== */
@import "components/base";

body.fission {
	#results {
		li { 
			text-align: center; 
			padding: 0.65rem;
		}

		li:first-child { text-align: right; }
		li:last-child { text-align: left; }

		ul:nth-child(odd) {
			background-color:#eee;
		}
		ul:nth-child(even) {
			background-color:#fff;
		}

	}
}