/* ==========================================================================
   App Stylesheet
   app.scss
   ========================================================================== */


/* Vendor Styles and Setting (foundation > settings)
   ======================================================================== */
@import "foundation";
@import "settings";


/* Mixins (User defined mixins)
   ======================================================================== */


/* Components
   ======================================================================== */
@import "components/base";

html, body {
}

#content { min-height: 100%; position: relative; }

#results {
	margin-bottom: 3rem;
}

#footer {
	clear: both;
	position: absolute;
	width: 100%;
	bottom: 0; left: 0; right: 0;
	color: #aaa;
	text-align: center;
	p { margin: 0; font-size: 75%; }
}

body.fission {
	#results {
		li { 
			text-align: center; 
			padding: 0.65rem;
		}

		li:first-child { text-align: right; }
		li:last-child { text-align: left; }

		ul:nth-child(odd) {
			background-color:#eee;
		}
		ul:nth-child(even) {
			background-color:#fff;
		}

	}
}