doctype html
html.no-js(lang='en')
  head
    meta(charset='utf-8')
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
    title Fission Calculator
    link(rel='stylesheet', href='styles/app.css')
    script(src='bower_components/modernizr/modernizr.js')
  body.fission
    .row
      .large-12.column
        h1 Persona Fission
    .row
      .large-12.column
        form
          .row
            .large-2.medium-2.column
              label(for="trinaryFission") Triangle?
              input#trinaryFission(type='checkbox')
            .large-5.medium-5.column
              label Fissible
              select.persona#fissible
            .large-5.medium-5.column
              label Containing (Optional for Normal)
              select.persona#containing
    .row
      .large-12.column#results


    //- Scripts
    //- ==========================================
    script(src='scripts/vendor.js')
    script(src='scripts/main.js')
