
#footer
  p This little utility was made by
    a(href="http://conradkreyling.com")  Conrad Kreyling
    | . Persona 4 Golden &copy; 
    a(href="http://www.atlus.com") Atlus
    |  and 
    a(href="http://nisamerica.com") NIS America
    | .