doctype html
html.no-js(lang='en')
  head
    meta(charset='utf-8')
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
    title Persona 4 Golden Calculator
    link(rel='stylesheet', href='styles/app.css')
    script(src='bower_components/modernizr/modernizr.js')
  body.index
    .row
      .large-12.column
        h1 Persona 4 Golden Calculator
    .row
      .large-6.medium-6.column
        a(href='fusion.html').button.expand Fusion
      .large-6.medium-6.column
        a(href='fission.html').button.expand Fission
    
    include footer